
@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

p{
	margin:0;
}

/* Header */
#header {
	
}

/* 바 */
.menu_bar {
	position: absolute;
	background-color: rgba(255, 255, 255, 50%);
	z-index: 10;
	width: 100%;
	height: 60px;
}

/* 햄버거 버튼 */
.total {
	display: block;
	position: absolute;
	top: calc(50% - 25px);
	left: 10px;
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.total span {
	display: block;
	position: absolute;
	top: calc(50% - 2px);
	width: 100%;
	height: 5px;
	border-radius:3px;
	background-color: rgba(0, 0, 0, 0.5);
	color: transparent;
	transition: all 0.5s;
}

.total span:before, .total span:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 5px;
	border-radius:3px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
}

.total span:before {
	top: -14px;
}

.total span:after {
	top: 14px;
}

.total.on span {
	background-color: rgba(0, 0, 0, 0);
}

.total.on span:before {
	top: 0;
	background-color: rgba(0, 0, 0, 1);
	transform: rotate(45deg);
}

.total.on span:after {
	top: 0;
	background-color: rgba(0, 0, 0, 1);
	transform: rotate(-45deg);
}


/* //햄버거 끝 */

.menu_bar .menu_title {
	position: absolute;
	width: 250px;
	height: 50px;
	top: calc(50% - 25px);
	left: calc(50% - 125px);
	font-size: 2rem;
	color: white;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

.menu_bar .menu_title>a {
	position:relative;
	color: black;
	text-decoration: none;
	transition:0.35;
}

.menu_bar .menu_title > a:hover #coout_icon{
	left:112px;
}

.menu_bar .menu_title > a > img{
	width:50px;
	height:50px;
	left:-50px;
	position:absolute;
	transition: 0.35s;
}

.menu_login {
	position: absolute;
	width: 30px;
	height: 30px;
	top: calc(50% - 15px);
	right: 15px;
}

.login_icon0, .login_icon1 {
	position: absolute;
	opacity:1;
	transition: all 1s;
}
.login_icon1{
	opacity:0;
}

.menu_login:hover > a:hover ~ img.login_icon{
	opacity:0;
}
.menu_login:hover > a:hover ~ img.login_icon1{
	opacity:0;
}




/* 슬라이드 바*/

div.slide_bar_out {
	width: 25%;
	height: 100%;
	min-width: 200px;
	max-width: 250px;
	position: fixed;
	top: 0;
	transform:translateX(-101%);
	z-index:1;
	transition: all .5s cubic-bezier(0,0.05,0,1.3);
}

div.slide_bar_out.on {
	transform:translateX(0);
	transition:0;
}

.slide_bar{
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('../image/se00.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-right: 1px solid rgba(255,255,255,0.2);
	border-radius: 0 100% 100% 0;
	transition: all .25s cubic-bezier(1,0.05,1,1.5);
	transition-delay: .5s;
}

.on .slide_bar {
border-radius: 0;
transition-delay: 0s;
}




ul.slide_bar_list {
	list-style: none;
	margin:0;
	padding-top: 60px;
	line-height: 2;
}

ul.slide_bar_list.end {
	position: absolute;
	width:100%;
	margin:0;
	padding:0;
	bottom:0;
}


.slide_bar_list li {
	opacity: 0;
	padding: 0;
	border-bottom: 1px solid rgba(255,255,255,.5);
	transition: all .25s linear;	
}
.slide_bar_list li a{
	display:block;
	padding: 12px 22px;
	width:100%;
	height:100%;
	background: rgba(255,255,255,0);
	transform:translateX(0);
	transition: 0.35;	
	text-decoration: none;
	font-weight: bold;
	color:rgb(64,71,96);
}

.slide_bar_list li a:hover{
	transform:translateX(10px);
	background: rgba(255,255,255,0.5);
	color:rgb(19,58,168);
}

.on .slide_bar_list li {
	transform: translateX(0%);
	opacity: 1;
}



.on .slide_bar_list li:nth-child(1) { transition-delay: 0.8s; } 
.on .slide_bar_list li:nth-child(2) { transition-delay: 0.9s; } 
.on .slide_bar_list li:nth-child(3) { transition-delay: 1.0s; } 
.on .slide_bar_list li:nth-child(4) { transition-delay: 1.1s; } 
.on .slide_bar_list li:nth-child(5) { transition-delay: 1.2s; } 
.on .slide_bar_list li:nth-child(6) { transition-delay: 1.3s; } 
.on .slide_bar_list li:nth-child(7) { transition-delay: 1.4s; } 


/* //슬라이드 바*/





/* //header end */





/* Main */
#main {
	flex:1;
}
/* FullPage */
#full-page {
	position: relative;
}


/* section 0 */
.sec0 .fp-tableCell {
	width: 100%;
	background-image: url('../image/sec0.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.sec0 .fp-tableCell>div.sec0_content {
	background-color: rgba(0, 0, 0, 50%);
	width: 100px;
	height: 100px;
}
/* navigation color
#fp-nav ul li a span{
	background-color:white;
} 
*/
/* section 1 */
.sec1 .fp-tableCell {
	width: 100%;
	height:100vh;
	background-image: url('../image/sec1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.sec1 .fp-tableCell>div.sec1_content {
	background-color: rgba(0, 0, 0, 50%);
	width: 350px;
	height: 100px;
	opacity: 0;
	transition: 0.35s;
}

/* section 2 */
.sec2 .fp-tableCell {
	width: 100%;
	background-image: url('../image/se00.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.sec2 .fp-tableCell>div.sec2_content {
	background-color: rgba(0, 0, 0, 50%);
	width: 100px;
	height: 100px;
}
/* section 3 (Footer) */
.sec3 .fp-tableCell {
	width: 100%;
	background-color: #bbb;
}

.sec3 div.main_footer {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 50%);
}

/* //fullPage end */
/* //main end */

/* Footer (메인페이지 footer은 따로 있음 fullpage때매 동작 안함) */
footer div.footer_info{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color:rgb(221, 221, 221);
    padding-top:30px;
    padding-bottom:30px;
}
footer div div.info{
    display:inline-block;
    margin-top:30px;
    margin-bottom: 30px;
}
footer div div.help{
    display:inline-block;
    margin-top:30px;
    margin-bottom: 30px;

}
footer div div p.footer_title{
    font-size:22px;
    font-weight: bolder;
}
span.phone{
    color:orange;
    font-size:28px;
    display:block;
}
span.alert{
    color:gray;
}
footer div div pre{
	background-color: rgba(255,255,255,0.5);
	border-radius: 15px;
	width:400px;
	height:200px;
	vertical-align: center;
	
}

/* //footer end */



