
@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

p{
	margin:0;
}

/* Header */
#header {
	
}

.menu_bar {
	position: absolute;
	background-color: rgba(0, 0, 0, 50%);
	z-index: 9999;
	width: 100%;
	height: 60px;
}

/* 햄버거 버튼 */
.total {
	display: block;
	position: absolute;
	top: calc(50% - 25px);
	left: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.total span {
	display: block;
	position: absolute;
	top: calc(50% - 5px);
	width: 100%;
	height: 8px;
	background-color: rgba(255, 255, 255, 1);
	color: transparent;
	transition: all 0.5s;
}

.total span:before, .total span:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 8px;
	background-color: rgba(255, 255, 255, 1);
	transition: all 0.5s;
}

.total span:before {
	top: -15px;
}

.total span:after {
	top: 15px;
}

.total.on span {
	background-color: rgba(255, 255, 255, 0);
}

.total.on span:before {
	top: 0;
	transform: rotate(45deg);
}

.total.on span:after {
	top: 0;
	transform: rotate(-45deg);
}

.menu_bar .menu_title {
	position: absolute;
	width: 250px;
	height: 50px;
	top: calc(50% - 25px);
	left: calc(50% - 125px);
	font-size: 2rem;
	color: white;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

.menu_bar .menu_title>a {
	position:relative;
	color: white;
	text-decoration: none;
	transition:0.35;
}

.menu_bar .menu_title > a:hover #coout_icon{
	left:112px;
}

.menu_bar .menu_title > a > img{
	width:50px;
	height:50px;
	left:-50px;
	position:absolute;
	transition: 0.35s;
}

.menu_login {
	position: absolute;
	width: 30px;
	height: 30px;
	top: calc(50% - 15px);
	right: 15px;
}

.login_icon0, .login_icon1 {
	position: absolute;
	transition: all 1s;
}

.login_icon1 {
	opacity: 0;
}

div.slide_bar {
	width: 300px;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: -300px;
	z-index: 1;
	transition: all .35s;
}

div.slide_bar.on {
	left: 0;
}

div.slide_bar>ul {
	width: 100%;
}

div.slide_bar>ul>li {
	list-style: none;
	margin-left: -20px;
	margin-top: 30%;
	text-align: center;
	width: 100%;
}

div.slide_bar>ul>li>a {
	color: black;
	font-size: 1.5rem;
	text-decoration: none;
}

div.slide_bar>ul>li>a:hover {
	color: yellow;
}

/* //header end */
/* Main */
#main {
	flex:1;
}
/* FullPage */
#full-page {
	position: relative;
}

.section {
	
}
/* section 0 */
.sec0 .fp-tableCell {
	width: 100%;
	background-image: url('../image/mainback.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.sec0 .fp-tableCell>div.sec0_content {
	background-color: rgba(0, 0, 0, 50%);
	width: 100px;
	height: 100px;
}
/* navigation color
#fp-nav ul li a span{
	background-color:white;
} 
*/
/* section 1 */
.sec1 .fp-tableCell {
	width: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.sec1 .fp-tableCell>div.sec1_content {
	background-color: rgba(0, 0, 0, 50%);
	width: 350px;
	height: 100px;
	opacity: 0;
	transition: 0.35s;
}

/* section 2 */
.sec2 .fp-tableCell {
	width: 100%;
	background-image: url('../image/mainback.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.sec2 .fp-tableCell>div.sec2_content {
	background-color: rgba(0, 0, 0, 50%);
	width: 100px;
	height: 100px;
}
/* section 3 (Footer) */
.sec3 .fp-tableCell {
	width: 100%;
	background-color: #bbb;
}

.sec3 div.main_footer {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 50%);
}

/* //fullPage end */
/* //main end */

/* Footer (메인페이지 footer은 따로 있음 fullpage때매 동작 안함) */
#footer {
	background-color: rgba(0, 0, 0, 0.9);
	
}

.footer_container {
	
}

.footer_container>div {
	
}

.footer_container>div.footer1 {
	
}

.footer_container>div.footer1 {
	
}
/* //footer end */



