@charset "UTF-8";
/*노말라이즈*/
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
/*라이브러리*/
html, body {
	overflow-x: hidden;
}

.dcom-con {
	margin: 0 auto;
}

.dcom-row::after {
	content: "";
	display: block;
	clear: both;
}

.dcom-cell {
	float: left;
}

.dcom-img-box img {
	display: block;
	width: 100%;
}

/*커스텀*/
.dcom-con {
	max-width: 100%;
}


.dcom-side-menu-button .dcom-img-box {
	width: 50px;
	
}

/*상단 배너 박스*/
.dcom-top-bn-box {
	margin-top: 20px;
}

@media ( max-width :800px) {
	.dcom-top-bn-box .img-box {
		margin-left: -50%;
	}
}

/*상품 리스트 바*/

/*상품 리스트 사이즈*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li {
	width: calc(100%/ 5);
	box-sizing: border-box;
	padding: 0 5px;
	margin-top: 10px;
	
}

.dcom-prod-list-bar .dcom-prod-list-box>ul {
	margin: 0 -10px;
}
/*상품 리스트 반응형 사이즈*/
@media ( max-width :1000px) {
	.dcom-prod-list-bar .dcom-prod-list-box>ul>li {
		width: calc(100%/ 4);
	}
}

@media ( max-width :800px) {
	.dcom-prod-list-bar .dcom-prod-list-box>ul>li {
		width: calc(100%/ 3);
	}
}

@media ( max-width :600px) {
	.dcom-prod-list-bar .dcom-prod-list-box>ul>li {
		width: calc(100%/ 2);
	}
}

@media ( max-width :400px) {
	.dcom-prod-list-bar .dcom-prod-list-box>ul>li {
		width: calc(100%/ 1);
	}
}
/*상품 이름,가격*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>div>.dcom-prod-subject,
	.dcom-prod-writer,.dcom-prod-day {
	font-weight: bold;
	color: white;
	margin-left: 7px;
	
}

.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>div>.dcom-prod-subject {
	font-size: 1.2em;
}
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>div>.dcom-prod-writer,.dcom-prod-day {
	font-size: 0.8em;
}


/*상품 리스트 강조*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>.dcom-img-box {
	overflow: hidden;
	position: relative;
	border-top-left-radius: 10px; border-top-right-radius: 10px;
	border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
	background-color: black;
	border: 2px solid #4a4643;
	
	
}
/*상품 리스트 강조-배경*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>.dcom-img-box::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 1;
	
}

.dcom-prod-list-bar .dcom-prod-list-box>ul>li:hover>a>.dcom-img-box::before
	{
	opacity: 0.5;
	
}
/*상품 리스트 강조-view*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>.dcom-img-box::after {
	content: "VIEW";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	border: 3px solid white;
	padding: 5px;
	
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 10px;
	z-index: 2;
}

.dcom-prod-list-bar .dcom-prod-list-box>ul>li:hover>a>.dcom-img-box::after
	{
	opacity: 1;
	
}
.dcom-search-bar{
	
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}

.dcom-search-box{
	background-color: #4a4643;
	padding : 20px;
}

.dcom-search {
	width: 50%;
	border-radius: 8px;
}

.dcom-search-btn, .dcom-write-btn{
	width: 120px;
	border-radius: 8px;
}

.dcom-write-btn{
	top: 30px;
}

.dcom-tc{
	color: white;
	font-size: 0.7em;
}

.dcom-write-box{
	position: relative;
	left: 500px;
}