@charset "UTF-8";

.board_writemain{
	
	height : 600px;
	background-image: url('../../image/board1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align : center;
}

.board_writemain h3 {
	padding-top : 260px;
	color: white;
	font-size : 3em;
	cursor : pointer;
}

/* 본문 폼 쪽 css*/

.board_writec{
	
	background-color: #f2f3f5;
	text-align : center;
	
}

.board_writeform{
	background-color: #f2f3f5;	
	padding: 5px 10px;
	text-align : left;
	margin-left : 5%;
}

#smartEditor{
	background-color: #f2f3f5;
	color : #f2f3f5;
	
}

.board_writecontents{
	width : 90%;
	margin-left : 5%;
}

.board_topic {
	width: 500px;
	padding: 0px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	height: 30px;
	font-size: 16px;
	vertical-align: middle;
}

.board_hashform{
	background-color: #f2f3f5;
	text-align : center;
}


.board_hashtag{
	width: 500px;
	padding: 14px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	height: 55px;
	font-size: 16px;
	vertical-align: middle;
}

.board_hashbtn{
	width: 120px;
	padding: 14px 20px;
	height: 55px;
	font-size : 1em;
	margin-left : 25px;
}

.board_btngroup{
	
	text-align : center; padding-bottom: 30px
}


.board_listbtn, .board_savebutton{
	
	width: 120px;
	padding: 14px 20px;
	height: 55px;
	font-size : 1em;
	margin-left : 25px;
}

