@charset "UTF-8";


.board_contentlayout{
	
	background-color: #1f2c59;
	background-size: cover;
	background-position: center;
	padding: 150px 0;
}

.board_contentsmain h3 {
	color: white;
	font-size : 3em;
	text-align: center;
	cursor : pointer;
}

/* 본문 폼 쪽 css*/

.board_contentsc{
	
	background-color: #f2f3f5;
	text-align : center;
	padding-bottom : 30px;
	
}
.board_contentsform{
	background-color: #f2f3f5;	
	padding: 5px 10px;
	text-align : left;
	margin-left : 5%;
}

.board_contentsform ul li{
	list-style-type: none; float : left; margin-left : 5px
}



.board_concon{
	width : 90%;
	margin-left : 5%;
	background-color : #f2f3f5;
	height : 120%;
}


.board_clistbtn,.board_cupdbutton,.board_cdelbutton{
	
	width: 100px;
	padding: 5px 10px;
	height: 40px;
	font-size : 1.2em;
	margin-left : 25px;
	background-color : #ccc;
	margin-bottom : 20px;
}

.board_conbtngrp{
	background-color: #f2f3f5;
	text-align : center; 
	padding-top:30px;
	padding-bottom: 30px;
}

/* 댓글 관련 css*/

.comments_section{
	background-color: #f2f3f5;
	padding-left : 10%;
	padding-right : 10%;
	
}

.each_comments{
	
	border-top : 1px solid gray;
}



.comments_section hr{
	border: 2px solid gray;
	
}

.board_comments{
	background-color: #f2f3f5;
	width : 90%;
}

.board_comments a{
	font-size: 1.2pm;
	padding-left : 5%;
}


.board_memo{
	padding-top : 10px;
	padding-left : 5%;
	height :110%;
}



.ans_writeform{
	background-color: #f2f3f5;
	width : 90%;
	text-align : center;
}

.ans_id{
	float : left;
	padding-top : 15px;
	padding-right : 20px;
	width : 20%;
}

.ans_writearea{
	width : 80%;
	height : 100px;	
}

.ans_savebtn{
	
	width: 100%;
	padding: 10px 10px;
	height: 40px;
	font-size : 1.2em;
	background-color : #ccc;
	margin-bottom : 20px;
	
}

